<div class="container mt-4">
    <!-- <h2 class="text-center mb-4">Enter Course Details</h2> -->
    <div class="card course-form-card">
      <div class="card-body">
        <form #courseSave="ngForm" (submit)="saveCourseData(courseSave.value)">
          <div class="form-group">
            <label for="courseName">Course Name</label>
            <input type="text" id="courseName" class="form-control" name="courseName" placeholder="Enter Course Name" [(ngModel)]="course.courseName">
          </div>
  
          <div class="form-group mt-3">
            <label for="description">Description</label>
            <textarea id="description" class="form-control" rows="3" name="description" placeholder="Enter Course Description" [(ngModel)]="course.description"></textarea>
          </div>
  
          <button type="submit" class="btn btn-primary mt-4 w-100">Save Course</button>
        </form>
      </div>
    </div>
  </div>
  