<!-- <h1>AppComponent</h1>
<pre>
  <h2>
    <a routerLink="">Home</a> <a routerLink="user">User</a> <a routerLink="about">About</a>
  </h2>
  <h2>
    <span class="linkEffect" routerLink="user/1">xyz</span> <span class="linkEffect" routerLink="user/2">abc</span> <span class="linkEffect" routerLink="user/3">mno</span>
  </h2>
  <h2>
    <span routerLink="profile">Profile</span>
  </h2>
</pre> -->

<!-- <app-mainpage></app-mainpage> -->

<a routerLink="home2">Go to Home2</a>
<br><br>
<a routerLink="main2">Main Page</a>


<!-- <a routerLink="mainPage2">MainPage2</a> -->

<router-outlet></router-outlet>