<form #marksheetData="ngForm" (ngSubmit)="updateMarksheet(marksheetData.value)">
    <input type="text" name="name" ngModel placeholder="Enter Student Name" value="marksheetData.name">
    <br><br>
    <input type="text" name="rollno" ngModel placeholder="Enter Student rollno" value="marksheetData.rollno">
    <br><br>
    <input type="number" name="maths" ngModel placeholder="Enter Maths Marks" value="marksheetData.maths">
    <br><br>
    <input type="number" name="science" ngModel placeholder="Enter Science Marks" value="marksheetData.science">
    <br><br>
    <input type="number" name="english" ngModel placeholder="Enter English Marks" value="marksheetData.english">
    <br><br>
    <button>Submit</button>
</form>