<form (ngSubmit)="submitForm()" class="styled-form">
    <div class="form-group">
        <input type="text" [(ngModel)]="profileForm.name" name="name" required placeholder="Name" class="form-control" />
    </div>
    
    <div class="form-group">
        <input type="email" [(ngModel)]="profileForm.email" name="email" required placeholder="Email" class="form-control" />
    </div>

    <div class="form-group">
        <input type="file" (change)="onFileChange($event)" class="form-control-file" />
    </div>

    <button type="submit" class="btn-submit">Submit</button>
</form>
