<div style="padding: 20px;">
    <h2>Authors List</h2>
    <table border="1" cellpadding="10">
      <thead>
        <tr>
          <th>Author Name</th>
          <th>Author Bio</th>
          <th>Books</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let author of authors">
          <td>{{ author.name }}</td>
          <td>{{ author.bio }}</td>
          <td>
            <ul>
              <li *ngFor="let book of author.books">{{ book.title }} <button (click)="deleteBook(book.id)">Delete</button></li>
            </ul>
          </td>
          <td>
            <button (click)="editAuthor(author.id)">Edit</button>
          </td>
          <td>
            <button (click)="deleteAuthor(author.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
  