<div style="padding: 20px;">
    <h2>Add Book</h2>
    <form (ngSubmit)="saveBook()">
      <div>
        <label for="title">Book Title:</label>
        <input type="text" id="title" [(ngModel)]="book.title" name="title" required />
      </div>
  
      <div style="margin-top: 15px;">
        <label for="isbn">Book ISBN:</label>
        <input type="text" id="isbn" [(ngModel)]="book.isbn" name="isbn" required />
      </div>
  
      <div style="margin-top: 15px;">
        <label for="author">Select Author:</label>
        <select id="author" [(ngModel)]="book.author_id" name="authorId" required>
          <option *ngFor="let author of authors" [value]="author.id">{{ author.name }}</option>
        </select>
      </div>

  
      <div style="margin-top: 15px;">
        <button type="submit">Submit</button>
      </div>
    </form>
</div>
  